/* the 4 parts of a element 1.the content(height & width etc), 2.padding, 3.borders, 4.margin */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background-color: #333; /*background of the page */
    color: white; /*colour of the text */
    margin: 0;
}


/* class in index.html */

.index_head {
    background-color: black;
    /* width: 500px; */

    /* border: white 3px solid; */

    /* margin gave space outside the element & padding gave space inside the element. Cant tell the diff. 
    between margin and padding if element dnt have a background colour */

    /*clock wise top, right, bottom, left
    
    margin: 50px 30px 40px 20px; */

   margin-bottom: 50px;  /* apply to all the sides*/

   padding: 20px;  /* apply to all the sides*/

   text-align: center;

}

/* the 4 parts of a element 1.the content(height & width etc), 2.padding, 3.borders, 4.margin */

.index_main{

    background-color: black;
    color: white;
    width: 600px;
    padding: 20px;
    margin: 0 auto;

    /* border-color: blue;
    border-width: 3px;
    border-style: solid; */

    border: rgb(24, 209, 193) 3px solid; /*shorthand*/

    border-bottom-color: crimson;
    border-left-color: violet;
    border-left-style: dashed;
  
}

.index_foot{
    background-color:black;
    /* width: 500px; */
    padding: 20px;
    margin: 50px;
    color: white;
    border: white 3px solid;
    /* text-align: center; */
    display: flex;
}

.index_col{
    
    margin: 5px;
}

.index_link{
    color: white;
}

/*for_me.html css */

.myself_head{
    background-color: black;
    /* width: 500px; */
    padding: 30px;
    margin-bottom: 50px;
    /* border: white 3px solid; */
    text-align: center;

}

.myself_main{
    background-color: black;
    color: white;
    width: 500px;
    border: white 3px solid;
    padding: 30px;
    margin: 0 auto;
}

.myself_foot{
    background-color: black;
    color: white;
    padding: 30px;
    /* width: 500px; */
    margin: 50px;
    border: white 3px solid;
    text-align: center;
}

.myself_link{
    color: white;
}

/* #about_me{
    color: blue; // (code for id) 
} */

/* it's ok.html CSS */

.ok_head{
    background-color: black;
    color: white;
    padding: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}