/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
   
        padding: 0;
        margin: 0;
    
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }




/* index css */

/* nav start */

body {
    background-color: black;
    margin: 1.5em;
    font-family: 'Poppins',sans-serif;
}

a {
    text-decoration: none;
    /* For font sizes use rem */
    font-size: 1.3rem;
}

.logo{

    color: white;
    font-weight: bold;
}

header {

    display: flex;
    justify-content: space-between;
}

.close{

    float: right;
    margin: 2em;
    width: 2.5em;
}

.menus {

    width: 3em;
    margin-top: -.6em;
    cursor: pointer;
}

nav {

    position: fixed;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out

}

.nav_ul{

    list-style-type: none;
    padding: 0;
    margin-top: 8em;
}

.nav_li{

    color: black;
    display: block;
    padding: .75em 2em;

}

.nav_li:hover{

    background: gray;
}

.open-nav{
    transform: translateX(0%);
}

/* nav close */


.hero{
    color:white;
   
    /* height: 99vh; */
}

.cats{

    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.cats_img{

    width: 100%;
}

h1{

    font-size: 3rem;
    margin-top: 2em;
    line-height: 3.3rem;

}

.subhead{

    font-size: 1.4rem;
}

.cry{

    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.cry_img{

    width: 100%;
}
.beauty{

    background-color: white;
    color: black;
   
    
    
   

}



.sad_img {

    width: 100%;
    /* object-fit: cover;
    height: 11em; */

}

.title{

    color: white;
    font-size: 1.5rem;
    margin-top: 2em;
}

.desc{

    color: white;
    line-height: 1.5rem;

}

@media only screen and (min-width: 680px){

    body {
        background-color: black;
        margin: 1.5em 5em;
        font-family: 'Poppins',sans-serif;
    }

}

@media only screen and (min-width: 920px){

    .menus{

        display: none;
    }

    nav{

        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;
    }

    .close{

        display: none;
    }

    .nav_ul{

        display: flex;
        margin: 0;

    }

    .nav_li{

        color: white;
        padding: .5em 1.5em;
        font-size: .9rem;
    }

    .nav_li:hover{

        background: none;
        text-decoration: underline;
    }

    .hero{

        height: auto;
        /* margin-bottom: 8em; */
    }

    .sad_img{

        width: auto;

    }

    .cry_img{

        width: 70%;
        
    }
   
    .cats_img{

        width: 40%;
    }

}
